* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif;

}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

:root {
    --navi: #002147;
    --yellow: #fdc800;

}

.container {
    width: 100%;
    max-width:  65%;
    margin: 0px auto;
} 
/* SECTION HEADER  starts HERE */
header .header1 {
    background-color: var(--navi);
}

header .section1 {
    width: 100%;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 15px 0px;
}

header .section1 button {
    border: none;
    background-color: var(--navi);
    color: white;
    margin-right: 15px;

}

header .section1 button:hover {  
    color: var(--yellow);
    transition: 2s;
}
.section2 {                 /* header2 */
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.section2 #part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section2 #part2 ul{
    font-size: 12px;
    font-weight:500;
    color: #002147c7;
    display: flex; 
    align-items: center;
    gap: 30px;
    list-style: none;
    transition: 1s; 
}
.section2 #part2 ul li a{
    text-decoration: none;
    color: #002147c7;
}
.section2 #part2 ul li{
    padding: 30px 0px;
} 
.section2 #part2 ul li:hover {
    color: var(--yellow);
    border-bottom: 4px solid var(--yellow);
}
.section2 #part2 div a i{
    padding: 30px 0px;
    margin-left: 40px;
    text-decoration: none;
    color: var(--navi);
}
.section2 #part2 div a i:hover {
    color: var(--yellow);
    border-bottom: 4px solid var(--yellow);
}
/* SECTION HEADER ENDS HERE */

/* BANNER SECTION */
.herosection{ 
    background-image:url("/images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    text-align: center;
    width: 100%;
    color: whitesmoke;
    
}
.herosection .overlay{
    width: 100%;
    height: 100%;
    background-color: #002147c6;
    padding: 50px 0px;
}
.herosection .event ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 14px;
}

.herosection .event h3{
    font-size: 30px;
    font-weight: 500;
} 


/* BANNER SECTION ENDS HERE */

.contact1{ 
    margin: 100px 0px;
}
.contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
   
}
.contact_info{
    width: 20%;
    margin: 0px 100px;
}
.contact_info .info h5{
    color: var(--navi);
    padding: 20px 0px;
    font-size:18px
}

.info li{
    font-size: 14px;
    list-style: none;
    margin-top: 10px;
    color: rgb(67, 65, 65); 
}

#flex{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
#flex li i{
    transition:1.6s;
}
#flex li i:hover{
    color:var(--yellow)
}

.contact_message{
    width: 55%;
}
.contact_info .media h5{
    color: var(--navi);
    padding: 20px 0px;
    font-size:18px;
    margin-top: 35px;
}
.contact_message h5{
    color: var(--navi);
    padding: 20px 0px;
    font-size:18px
}
/* .contact_message .message_name {
    border: solid blue;
} */
.contact_message .message_name input{
    /* border: solid red; */
    border: none;
    width: 40%;
    padding: 15px 10px;
    margin-right: 20px;
    background-color: #a2a0a04e;

}
.contact_message .message_message input { 
    border: none;
    width: 84%;
    padding:10px 15px 70px 10px;
    margin-top: 20px;
    background-color: #a2a0a04e;

}
.contact_message .btn{
    width:25%;
    text-align:center;
    background-color: var(--navi);
    color:white;
    margin-top:40px;
    padding:10px 30px;
    border:2px solid black
}
iframe{
    filter: grayscale(100%);
     
}


/* footer section starts here */
footer{
    background-color: var(--navi);
    padding: 60px 0px 0px 0px;
    color: white;
} 
    

.section1 .part1{
     
    display: flex;
}
.section1 .part1 .part1a{
     
    width: 25%;
    
}
.section1 .part1 .part1a p{
    font-size: 13px;
    padding: 15px 0px;
    line-height: 1.6;
}
.section1 .part1 .part1a  #flex{
    display: flex;
     gap: 25px; 
    
}
.section1 .part1 .part1a  #flex li i{
    color: white;
}

.section1 .part1 .part1a li{
    font-size: 13px;
    list-style: none;
     margin-top: 10px;
     color: white;
}
.section1 .part1 .part1a li i:hover{
    color:var(--yellow)
}
.section1 .part1 .part1a h6{
    font-size: 20px;
   
}
.section1 .part1 .part1a #links li{
    font-size:14px;
    
}

 .foot1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
 .foot1 .foot1-1 p{
    
    font-size: 12px;
    padding: 20px 0px;
}
 .foot1 .foot1-1  #themes{
    color: var(--yellow);
    text-decoration: underline;
}
.footmain{ 
    border-top:1px solid #ccc;
    margin-top: 20px;
} 
.section1 .part1 .part1a #photo{
    display: flex;
    padding: 10px 0px;
     gap: 10px 0px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.part1a #photo .pics{
    width: 31%;  
} 
.part1a #photo .pics img{
    width: 100%;
    height: 100%;
}






@media (max-width:480px){
    .container {
        width: 100%;
        max-width: 90%;
        margin: 0px auto;
      
    }
    header .section1 {
        font-size: 13px;
        color: white;
        display: block;
         text-align: center;
        padding: 20px 0px; 
    } 
    #part1{
        padding-bottom: 10px; 
    }
    header .section2 #part2 ul {
        display: none;
    }
    .herosection .event ul{
        display: flex;
        justify-content: center;
        list-style: none;
        font-size: 12px;
    }
    
    .herosection .event h3{
        font-size: 20px;
        font-weight: 500; 
    } 
    .contact1{
        margin: 80px 0px;
        width: 100%;
    }
    .contact{
        width: 100%;
        display: block; 
       
    }
    .contact_info{
        width: 100%;
        margin: 0px 0px; 
    }
    .contact_info .info h5{
        color: var(--navi);
        padding: 20px 0px;
        font-size:18px
    } 
    
    .contact_message{
        width: 100%;
        margin-top: 20px;
    }
    #flex{
        display: flex;
        justify-content: left;
        gap: 20px;
        list-style: none;
    }
    .contact_message .message_name input{ 
        width: 100%;
        margin-bottom:20px; 
    }
    .contact_message .message_message input { 
        width: 100%;
    }
    .contact_message .btn{
        width:40%; 
    }
     /* FOOTER SECTION */
     footer {
        background-color: var(--navi);
        padding: 60px 0px 0px 0px;
        color: white;
    }

    .section1 .part1 {
        display: block;
    }

    .section1 .part1 .part1a {
        width: 100%;
    }

    .section1 .part1 .part1a p {
        font-size: 12px;
        padding: 15px 0px;
        line-height: 1.8;
    }

    .section1 .part1 .part1a #flex {
        display: flex;
        gap: 25px;
        margin-bottom: 40px;
    }

    .section1 .part1 .part1a h6 {
        font-size: 17px;
        font-weight: 800;
        margin: 30px 0px;
        text-transform: uppercase;
    }

    .section1 .part1 .part1a li {
        font-size: 13px;
        list-style: none;
        margin-bottom: 10px;
        color: white;
    }

    .section1 .part1 .part1a #links li {
        font-size: 14px;
    }

    .section1 .part1 .part1a #photo {
        display: flex;
        padding: 10px 0px;
        gap: 10px 0px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .part1a #photo .pics {
        width: 31%;
    }

    .part1a #photo .pics img {
        width: 100%;
        height: 100%;
    }

    .footmain {
        border-top: 1px solid #ccc;
        margin: 40px 0px;
    }

    .foot1 {
        display: block;
        text-align: center;
        margin: 25px 0px 25px 0px;
    }

    .foot1 .foot1-1 p {
        font-size: 12px;
        padding: 10px 0px;
    }

    .foot1 .foot1-1 #themes {
        color: var(--yellow);
        text-decoration: underline;
    }

    .foot1 .foot1-2 {
        font-size: 12px;
        padding-bottom: 30px;
    }
    iframe{
        filter: grayscale(100%);
         width: 100%;
    }
}
@media(max-width:767px) and (min-width:481px){
    .container {
        width: 100%;
        max-width: 70%;
        margin: 0px auto; 
    }
    header .section2 #part2 ul {
        display: none;
    }
    .herosection .event ul{
        display: flex;
        justify-content: center;
        list-style: none;
        font-size: 12px;
    }
    
    .herosection .event h3{
        font-size: 20px;
        font-weight: 500; 
    } 
    .contact{ 
        width: 100%;
        display: flex;
        justify-content: start; 
        gap: 10px;
        width: 100%;
    }
    
    .contact_info{
        width: 40%;
        margin:0px; 
    }
    #flex{
        display: flex;
        justify-content:start;
        gap: 15px;
        list-style: none;
    }
    .contact_message{ 
        width: 60%;
    }
    .contact_message .message_name input{ 
        width: 100%;
        margin-bottom:10px; 
    }
    .contact_message .message_message input { 
        width: 100%;
        margin: 10px 0px;
    }
    .contact_message .btn{
        width:50%; 
        margin-top: 20px;
    }
     /* FOOTER SECTION */
     footer {
        background-color: var(--navi);
        padding: 60px 0px 0px 0px;
        color: white;
    }

    .section1 .part1 {
        display: block;
    }

    .section1 .part1 .part1a {
        width: 100%;
    }

    .section1 .part1 .part1a p {
        font-size: 12px;
        padding: 15px 0px;
        line-height: 1.8;
    }

    .section1 .part1 .part1a #flex {
        display: flex;
        gap: 25px;
        margin-bottom: 40px;
    }

    .section1 .part1 .part1a h6 {
        font-size: 17px;
        font-weight: 800;
        margin: 30px 0px;
        text-transform: uppercase;
    }

    .section1 .part1 .part1a li {
        font-size: 13px;
        list-style: none;
        margin-bottom: 10px;
        color: white;
    }

    .section1 .part1 .part1a #links li {
        font-size: 14px;
    }

    .section1 .part1 .part1a #photo {
        display: flex;
        padding: 10px 0px;
        gap: 10px 0px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .part1a #photo .pics {
        width: 31%;
    }

    .part1a #photo .pics img {
        width: 100%;
        height: 100%;
    }

    .footmain {
        border-top: 1px solid #ccc;
        margin: 40px 0px;
    }

    .foot1 {
        display: block;
        text-align: center;
        margin: 25px 0px 25px 0px;
    }

    .foot1 .foot1-1 p {
        font-size: 12px;
        padding: 10px 0px;
    }

    .foot1 .foot1-1 #themes {
        color: var(--yellow);
        text-decoration: underline;
    }

    .foot1 .foot1-2 {
        font-size: 12px;
        padding-bottom: 30px;
    }
    iframe{
        filter: grayscale(100%);
         width: 100%;
    }
}

@media(max-width:1024px) and (min-width:768px){
    .container {
        width: 100%;
        max-width: 80%;
        margin: 0px auto; 
    }
    .contact{ 
        width: 100%;
        display: flex;
        justify-content: start; 
        gap: 10px;
        width: 100%;
    }
    
    .contact_info{
        width: 40%;
        margin:0px; 
    }
    #flex{
        display: flex;
        justify-content:start;
        gap: 15px;
        list-style: none;
    }
    .contact_message{  
        width: 60%;
    }
    
    .contact_message .btn{
        width:35%; 
        margin-top: 20px;
    }
}
@media(max-width:1440px) and (min-width:1025px){
    .container {
        width: 100%;
        max-width: 80%;
        margin: 0px auto; 
    }
    .contact{ 
        width: 100%;
        display: flex;
        justify-content: center; 
        align-items: center;
        gap: 0px;
        width: 100%; 
    } 
    .contact_info{
        width: 30%; 
    }
    #flex{
        display: flex;
        justify-content:start;
        gap: 15px;
        list-style: none;
    }
    .contact_message{  
        width: 60%;
    } 
    .contact_message .btn{
        width:35%; 
        margin-top: 20px;
    }
}
@media(min-width:1441px){
    .container {
        width: 100%;
        max-width: 50%;
        margin: 0px auto; 
    }
    .contact_message .message_message input { 
        border: none;
        width: 82%;
        padding:10px 15px 70px 10px;
        margin-top: 20px;
        background-color: #a2a0a04e;
    
    }
}