* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", serif; 
} 
html,
body {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
} 
:root {
    --navi: #002147;
    --yellow: #fdc800; 
} 
.container {
    width: 100%;
    max-width:  65%;
    margin: 0px auto;
} 
 /* SECTION HEADER  starts HERE */
header .header1 {
    background-color: var(--navi);
} 
header .section1 { 
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 15px 0px;
}

header .section1 button {
    border: none;
    background-color: var(--navi);
    color: white;
    margin-right: 15px; 
}

header .section1 button:hover { 
    color: var(--yellow);
    transition: 2s;
}
.section2 {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.section2 #part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   }
.section2 #part2 a{
    color: #002147c7;
    padding-right: 15px;
   }
.section2 #part2 ul {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    color: #002147c7;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    list-style: none;
    transition: 2s;
}
.section2 #part2 a{
    text-decoration: none;
    color: #002147c7;
}
 
.section2 #part2 ul li {
    padding: 40px 0px;
}

.section2 #part2 ul li:hover {
    color: var(--yellow);
    border-bottom: 4px solid var(--yellow);
}  
.section2 #part2 div a i{
    padding: 40px 0px;
    margin-left: 40px;
    text-decoration: none;
    color: var(--navi);
}
.section2 #part2 div a i:hover {
    color: var(--yellow);
    border-bottom: 4px solid var(--yellow);
}
 /* SECTION HEADER ENDS HERE */ 
 /* BANNER SECTION */
.herosection{
   
    background-image:url("/images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%; 
    color: whitesmoke;
    
}
.herosection .overlay{
    width: 100%;
    height: 100%;
    background-color: #002147c6;
    padding: 60px 0px;
}
.herosection .event h3{
    font-size: 30px;
    font-weight: 500; 
}
.herosection .event ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 14px;
    padding: 8px 0px;
} 
/* BANNER SECTION ENDS HERE */ 
/* SECTION-4 STARTS HERE */
.section4b{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
     margin: 120px 0px;
} 
.section4b .photo {
    width: 25%;
    height: 260px;
    position: relative;
    object-fit: cover;
} 
.section4b .photo img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
} 
.section4b .photo .icon {
    width: 100%;
    height: 100%;
    background-color: #fdc800c9;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    display: none; 
} 
.section4b .photo:hover .icon {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* SECTION-4 ENDS HERE */ 
/* FOOTER SECTION STARTS*/
footer{
    background-color: var(--navi);
    padding: 60px 0px 0px 0px;
    color: white;
}  
.section1 .part1{ 
    display: flex;
}
.section1 .part1 .part1a{ 
    width: 25%; 
}
.section1 .part1 .part1a p{
    font-size: 13px;
    padding: 15px 15px 15px 0px;
    line-height: 1.6;
}
.section1 .part1 .part1a  #flex{
    display: flex;
     gap: 25px; 
}

.section1 .part1 .part1a li{
    font-size: 13px;
    list-style: none;
     margin-top: 10px;
}
.section1 .part1 .part1a li i:hover{
    color:var(--yellow)
}
.section1 .part1 .part1a h6{
    font-size: 20px; 
    padding-bottom: 20px;
}
.section1 .part1 .part1a #links li{
    font-size:14px; 
}
.section1 .part1 .part1a #photo{
    display: flex;
    padding: 10px 0px;
     gap: 10px 0px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.part1a #photo .pics{
    width: 31%;
    
}

.part1a #photo .pics img{
    width: 100%;
    height: 100%;
}
.footmain{ 
    border-top:1px solid #ccc;
    margin-top: 20px;
} 
 .foot1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
 .foot1 .foot1-1 p{ 
    font-size: 12px;
    padding: 20px 0px;
}
 .foot1 .foot1-1  #themes{
    color: var(--yellow);
    text-decoration: underline;
}
/* FOOTER SECTION ENDS */





@media(max-width:480px){
    .container {
        width: 100%;
        max-width: 90%;
        margin: 0px auto;
    }
    .section2 #part2 ul {
        display: none;
    }
    .herosection .event h3{
        font-size: 23px;
        font-weight: 500; 
    } 
    .section4b{
        width: 100%;
        display: block;
        flex-wrap: wrap-reverse;
         margin: 120px 0px;
    }
    
    .section4b .photo {
        width: 100%;
        height: 300px;
        position: relative;
        object-fit: cover;
    }
    .section1 .part1 { 
        display: block;
    }
    .section1 .part1 .part1a { 
        width: 100%;
    
    }
    .section1 .part1 .part1a h6 {
        font-size: 20px;
        padding: 25px 0px;
    }
    .foot1 {
        display: block;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        margin:20px 0px;
    }
    .foot1 .foot1-1 p {

        font-size: 11px;
        padding:10px 0;
    }
    .foot1 .foot1-2 p {

        font-size: 11px;
        padding-bottom:30px ;
    }
}
@media(max-width:767px) and (min-width:481px){
    .container {
        width: 100%;
        max-width: 70%;
        margin: 0px auto;
    }
    .section2 #part2 ul {
        display: none;
    }
    .herosection .event h3{
        font-size: 23px;
        font-weight: 500; 
    } 
    .section1 .part1 { 
        display: flex;
        flex-wrap: wrap;
    }
    .section4b .photo {
        width: 50%;
        height: 200px;
        position: relative;
        object-fit: cover;
    }
    .section1 .part1 { 
        display: block;
    }
    .section1 .part1 .part1a { 
        width: 100%;
    
    }
    .section1 .part1 .part1a h6 {
        font-size: 20px;
        padding: 25px 0px;
    }
    .foot1 {
        display: block;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        margin:20px 0px;
    }
    .foot1 .foot1-1 p { 
        font-size: 11px;
        padding:10px 0;
    }
    .foot1 .foot1-2 p { 
        font-size: 11px;
        padding-bottom:30px ;
    }
    .part1a #photo{ 
        width: 60%;
        padding-bottom: 50px;
    }
    .part1a #photo .pics{ 
        width: 31%;  
    }
}
@media(max-width:1024px) and (min-width:768px) {
    .container {
        width: 100%;
        max-width: 90%;
        margin: 0px auto;
    }
    .herosection .event h3{
        font-size: 30px;
        font-weight: 500; 
    } 
    .section2 #part2 ul {
        font-size: 14px;
    }
    .section1 .part1 { 
        display: flex;
        flex-wrap:wrap;
        
    }
    .section4b .photo {
        width: 33.2%;
        height: 200px;
        position: relative;
        object-fit: cover;
    }
     
}


@media(max-width:1440px) and (min-width:1025px){
    .section4b .photo {
        width: 25%;
        height: 200px;
        position: relative;
        object-fit: cover;
    }
}

 @media(max-width:above) and (min-width:1441px){
    .container {
        width: 100%;
        max-width: 60%;
        margin: 0px auto;
    }
 }